* {
	margin: 0;
	padding: 0;
}

html {
	font-size:62.5%;
}

#fondodegradado {
	background: radial-gradient(#FF33A5, #7A05E0, black, black);
	background-repeat: no-repeat;
}
	
a {
	text-decoration:none;
	color:inherit;
}

ul li {
	list-style:none;
}



/* Menu */

/* Titulo principal */

.TituloPrincipal {
margin-left: 10px;
margin-top: 20px;
}

#menu1 {
	box-shadow: -28px -22px 27px 0px white;
}

#menu {
	margin-top: 5px;
	margin-bottom: 0px;
}

 #menu li {
    display: inline;
}

 #menu li a {
    font-family:Stalinist One, cursive;
    color:#E30052;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    -webkit-text-stroke: 0.5px #7A05E0;
}

 #menu li a:hover {
    color: white;
    text-decoration: none;
 }



 .ImagenesCarousel {
 	width: 100%;
 }

 .subtitulos3 {
 	font-family:Stalinist One, cursive;
    text-align: center;
    color:#7A05E0;
    font-size: 2rem;
    background-color:black;
    border-style: double;
    -webkit-text-fill-color:white;
    -webkit-text-stroke: 1px black;
}

.subtitulos3:hover {
 background-color:#FF33A5;
}

.titulos5 {
 	font-family:Stalinist One, cursive;
	font-size: 2rem;
	text-align: center;
	color: white;
	background-color:black;
	border-style: double;
}


/* Biografia */

.subtitulos {
	font-family: 'Teko', sans-serif;
	font-size:35px;
	color: #7A05E0;
	text-align: left;
	}

.letrachica {
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	text-align: justify;
	color: white;
	padding-top: 2rem;
	padding-bottom: 2rem;
    background-color: rgba(0,0,0,0.75);
	margin: 20px;
	
}

/* Imagenes Biografia */

.row {
  display: flex;
  flex-wrap: wrap;
  margin:20px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



.albums {
	color:#F5093C;
}

.fechas {
	color:#FF33A5;
}

p {
	font-family: 'Teko', sans-serif;
	font-size:2.5rem;
	color:#E30052;
}

.p1 {
	color:white;
}

.titulos2 {
	font-family:'Teko', sans-serif;
	font-size:3rem;
	color:#7A05E0;
	border-style: double;
	border-color: black;
}

.section {
	background-color:black;
	text-align: center;
	width: 70%; 
	opacity: 90%;
	margin: 200px;
	margin-top: 2rem;
}


.titulos3 {
	font-family:Stalinist One, cursive;
	color:black;
	background-color:#FF33A5; 
	font-size:3rem;
	text-align:center;
	border-style: double;
	border-color: black;
}

.titulos4 {
	font-family:Stalinist One, cursive;
	color:black;
	background-color: #E30052;
	font-size:3rem;
	text-align:center;
	border-style: double;
	border-color: black;
}

.ContenedorConciertos {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

}

.ConciertosLista {
	margin: 10px;
	font-family:Stalinist One, cursive;
	color:white;
	background-color: black;
	font-size:1.5rem;
	text-align: left;
	width: 40%;
	height: 40%;
}



.ContenedorAlbums {
	width: 100%;
	margin: auto;
}

.ImagenesDiscografia {
	width: 100%
}


.columna {
	margin: 10px;
	box-shadow: -28px -22px 27px 0px rgba(0,0,0,0.75);
}

.albums .ContenedorAlbums {
	display: grid;
}

@media (min-width: 520px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(2,50%);
	}
}

@media (min-width: 728px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(3,33.3%);
	}
}

@media (min-width: 1024px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(4,25%);
	}
}

@media (min-width: 728px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(3,33.3%);
	}

	.ContenedorAlbums {
		width: 1024px;
	}
}

@media (min-width: 1200px) {

	.ContenedorAlbums {
		width: 1200px;
	}
}



/*Discografia*/

.hovereffect {
overflow:hidden;
position:relative;
text-align:center;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {

-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:25px;
font-family: 'Teko', sans-serif;
border-style: double;
border-color: white;
background:rgba(0,0,0,0.6);
padding:10px;
}

.hovereffect h3 {
color:white;
text-align:center;
text-align: justify;
position:relative;
font-size:13px;
font-family: 'Montserrat', sans-serif;
background:rgba(0,0,0,0.6);
padding:10px;
margin: 10px;
}


.hovereffect:hover img {
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
}

.hovereffect:hover h2 {
opacity:1;
transform:translatey(0);
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

nav{
  height: 80px;
  width: 100%;
}

label.logo{
  color: #f2f2f2;
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

nav ul{
  float: right;
  margin-right: 60px;
  z-index:2;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}


a.active,a:hover{
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

div::-webkit-scrollbar {
  width: 1em;
}
 
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}


@media (max-width: 1270px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }


  .checkbtn{
    display: block;
    margin-right: 10px;
  }
  
  ul{
    position: fixed;
    width: 100%;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
 background-color: black;

  }
  nav ul li{
    display: block;
    margin:0;
    line-height: 30px;
     position: relative;
  }
  nav ul li a{
    font-size: 20px;
    display: block;

      }

  #check:checked ~ ul{
    left: 0;
    margin-top: 10px;
  }


.titulos5 {
	font-size: 10px;
}

.subtitulos3 {
font-size: 10px;
}

.letrachica {
	font-size:15px;
}

.subtitulos {
	font-size:4rem;
}

}



/* Footer */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px){
  footer { position: static; }
}


.footer{
  background-color: rgba(0,0,0,0.75);
  box-sizing: border-box;
  width: 100%;

  text-align: center;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
}

.TextoFooter {
	font-family: Stalinist One, cursive;
	color:white;
	font-size: 12px;

}


.footer {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-icons{
  margin-top: 25px;
}

.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.75);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer {
  
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer {
    margin-left: 0;
  }

}



/* Ultimas Noticias */

.text-pink {
    color: #FF33A5 !important; 
}

.news-feed-heading {
    font-size: 2.5rem !important;
}

.news-heading-intro {
    font-size: 1.25rem!important;
}

.text-black {
  color: white !important;
}

.fullbar-item:hover {
  background: rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
  .in-news {
    font-size: 1.5rem !important;    
  }

  .news-feed-heading {
    font-size: 1.75rem !important; 
  }

  .feed-item-heading {
    font-size: 1.25rem !important;
  }

  .news-heading-intro {
    font-size: 1rem !important;
  }
}



/* Formulario */

.form{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: -28px -22px 27px 0px rgba(0,0,0,0.75);

}

.newsletter-container{
    background-color: #f1f1f1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.picture{
    width: 50%;
    background: url(../multimedia/ladygagasuscribite.jpg) no-repeat center;
    background-size: cover;
}

.newsletter{
   width: 50%;
   padding: 200px 8%; 
}

.newsletter h1{
    margin-bottom: 20px;
    color: #7A05E0;
    -webkit-text-stroke: 0.5px black;
    font-weight: 900;
	font-family: 'Teko', sans-serif;
	font-size:5rem;
	}

.newsletter p{
    margin-bottom: 40px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: rgba(0,0,0,0.75);
    -webkit-text-stroke: 0.5px #7A05E0;
}

.newsletter-form{
    height: 68px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 3px;
    display: flex;
    padding: 8px 0;
}

.emailInput,.btn{
    background: none;
    border: none;
    font-size: 15px;
    outline: none;
    transition: .2s linear;
}

.emailInput{
    width: calc(100% - 120px);
    padding: 20px;
    color: #f1f1f1;
}

.emailInput::placeholder{
    color: white;
}

.emailInput:focus{
    padding-left: 30px;
}

.btn{
    width: 120px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    color: #FF33A5;
    -webkit-text-stroke: 0.5px black;
    cursor: pointer;
    border-left: 1px solid white;
}

.btn:hover{
    color: #f1f1f1;
}

@media screen and (max-width:900px){
    .picture{
        width: 100%;
        height: 360px;
    }
    .newsletter{
        width: 100%;
        padding: 100px 20%;
    }
}

@media screen and (max-width:600px){
    .newsletter{
        padding: 100px 30px;
    }
}







html { font-size: 22px; }
body { padding: 1rem; }

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}



