* {
	margin: 0;
	padding: 0;
}

html {
	font-size:62.5%;
}

.TituloPrincipal {
	font-family:Stalinist One, cursive;
	font-size: 4rem;
	text-align: center;
	margin-top: 10px;
	color: #7A05E0;
	-webkit-text-fill-color:#7A05E0;
    -webkit-text-stroke: 1px black;
}
	
a {
	text-decoration:none;
	color:inherit;
}

#menu {
	margin-top: 5px;
	margin-bottom: 0px;
}

 #menu li {
    display: inline;
    }

 #menu li a {
    font-family:Stalinist One, cursive;
    color:#E30052;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    }

.Biografia, .Discografia, .Conciertos {
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    
}

.UltimasNoticias {
	border-style: double;
	border-color: white;
	border-width: 1px;
}

 #menu li a:hover {
    background-color: white;
    text-decoration: none;
 }

 .ImagenesCarousel {
 	width: 100%;
 }

 .subtitulos3 {
 	font-family:Stalinist One, cursive;
    text-align: center;
    color:#7A05E0;
    font-size: 2.5rem;
    background-color:black;
    border-style: double;
    -webkit-text-fill-color:white;
    -webkit-text-stroke: 1px black;
}

.subtitulos3:hover {
 background-color:#FF33A5;
}

.titulos5 {
 	font-family:Stalinist One, cursive;
	font-size: 5rem;
	text-align: center;
	color: white;
	background-color:black;
	border-style: double;
}

#footer {
	font-family:Stalinist One, cursive;
	font-size:1.5rem;
	background-color:#E30052; 
	text-align: center;
	border-style: double;
	border-color: black;
	margin-top: 20px;
}

#footer li {
	display: inline;
	border-right-style: double;

}

#footer li a:hover {
	background-color:white; 
	text-decoration:none;
	color:inherit;
}

.subtitulos {
	font-family: 'Teko', sans-serif;
	font-size:5rem;
	color:white;
	text-align: left;
	padding-left:2rem;
	margin-bottom: 5px;
}

.letrachica {
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	text-align: justify;
	color: white;
	padding: 2rem;
	border-style: double;
	border-color: white;
	background: black;
}

.albums {
	color:#F5093C;
}

.fechas {
	color:#FF33A5;
}

p {
	font-family: 'Teko', sans-serif;
	font-size:2.5rem;
	color:#E30052;
}

.p1 {
	color:white;
}

.titulos2 {
	font-family:'Teko', sans-serif;
	font-size:3rem;
	color:#7A05E0;
	border-style: double;
	border-color: black;
}

.section {
	background-color:black;
	text-align: center;
	width: 70%; 
	opacity: 90%;
	margin: 200px;
	margin-top: 2rem;
}


.titulos3 {
	font-family:Stalinist One, cursive;
	color:black;
	background-color:#FF33A5; 
	font-size:3rem;
	text-align:center;
	border-style: double;
	border-color: black;
}

.titulos4 {
	font-family:Stalinist One, cursive;
	color:black;
	background-color: #E30052;
	font-size:3rem;
	text-align:center;
	border-style: double;
	border-color: black;
}

.ContenedorConciertos {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

}

.ConciertosLista {
	margin: 10px;
	font-family:Stalinist One, cursive;
	color:white;
	background-color: black;
	font-size:1.5rem;
	text-align: left;
	width: 40%;
	height: 40%;
}

ul li {
	list-style:none;
}

.ContenedorAlbums {
	width: 100%;
	margin: auto;
}

.ImagenesDiscografia {
	width: 100%
}


.columna {
	margin: 10px;
	box-shadow: -28px -22px 27px 0px rgba(0,0,0,0.75);

}

.albums .ContenedorAlbums {
	display: grid;
}

@media (min-width: 520px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(2,50%);
	}
}

@media (min-width: 728px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(3,33.3%);
	}
}

@media (min-width: 1024px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(4,25%);
	}
}

@media (min-width: 728px) {

	.albums .ContenedorAlbums {
		grid-template-columns: repeat(3,33.3%);
	}

	.ContenedorAlbums {
		width: 1024px;
	}
}

@media (min-width: 1200px) {

	.ContenedorAlbums {
		width: 1200px;
	}
}

#fondodegradado {
	background: radial-gradient(#FF33A5, #7A05E0, black, black);
	background-repeat: no-repeat;
}

.botones {
	font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color:white;
    background-color:black;
    position:relative;
    display: inline-block;
    width: 100px;
}

.botones:hover {
	background: #7A05E0
	color:#FF33A5;
	box-shadow: 0 0 10px #7A05E0;
}

.hovereffect {
overflow:hidden;
position:relative;
text-align:center;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {

-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
padding:10px;
}

.hovereffect:hover img {
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
}

.hovereffect:hover h2 {
opacity:1;
transform:translatey(0);
}

.NombreDelAlbum {
	font-family: 'Teko', sans-serif;
	font-size:2rem;
	border-style: double;
	border-color: white;
}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

nav{
  height: 80px;
  width: 100%;
}

label.logo{
  color: #f2f2f2;
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

nav ul{
  float: right;
  margin-right: 60px;
  z-index:2;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}


a.active,a:hover{
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1270px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }


  .checkbtn{
    display: block;
    margin-right: 40px;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
     position: relative;
  }
  nav ul li a{
    font-size: 20px;
    display: inline;
      }

  #check:checked ~ ul{
    left: 0;
  }

  #footer {
  	font-family:Stalinist One, cursive;
	font-size:5px;
	background-color:#E30052; 
	text-align: center;
	border-style: double;
	border-color: black;
	margin-top: 20px;
  }

.titulos5 {
	font-size: 2.5rem;
}

.subtitulos3 {
font-size: 2rem;
}

.letrachica {
	font-size:15px;
}

.subtitulos {
	font-size:4rem;
}

.texto {
    font-size:1px;
}

}


.texto {
    color: #ffffff;
    background:#000000;
    font-size:40px;
    font-weight: bold;
    font-family: Stalinist One, cursive;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
   
}
.texto::before {
    content: 'Lady Gaga';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
  
}
.gradient{
    background: linear-gradient(#7A05E0 ,#E30052, #FF33A5);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
 


